{% load static %}
<div class="header" id="home">
    <div class="top_menu_w3layouts">
        <div class="container">
            <div class="header_left">
                <ul>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> 1143 New York, USA</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> +(010) 221 918 811</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                </ul>
            </div>
            <div class="header_right">
                <ul class="forms_right">
                    <li><a href="{% url 'appint:appointment' %}"> Make an Appointment</a></li>
                </ul>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="content white">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <h1><span class="fa fa-stethoscope" aria-hidden="true"></span>New Clinic </h1>
                    </a>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'appint:home' %}" class="active">Home</a></li>
                            <li><a href="{% url 'appint:about' %}">About</a></li>

                            <li><a href="{% url 'appint:contact' %}">Mail Us</a></li>
                        </ul>
                    </nav>
                </div>
                <!--/.navbar-collapse-->
                <!--/.navbar-->
            </div>
        </nav>
    </div>
</div>